body{
    text-align: center;
}
.container{
    background-color: #FCEAE9;
    margin: 20px;
    padding: 20px;

}
.content{
    width: fit-content;
    margin-left: auto;
    text-align: justify;
margin-right: auto;
}

input{
    width: 100%;
    background-color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    display: block;

}

.btnbg{
    background-color: #FC448B;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px 20px 5px 20px ;
}
